{% load static %}

<link rel="stylesheet" href="{% static 'css/footer3.css' %}">

<!-- footer section start -->
<footer id="footer" >
  <div class="container">
    <div class="row">

      <!-- Logo Section -->
      <div class="col-lg-3 col-md-6 mb-4">
        <a href="#"><img src="{% static 'img/logo.png' %}" alt="" class="img-fluid logo-footer" style="height: 120px; width: 180px;"></a>
        <p class="mt-2">Trusted shopping platform for millions of customers.</p>
      </div>

      <!-- Quick Links Section -->
      <div class="col-lg-3 ">
        <h5>About</h5>
        <ul class="list-unstyled">
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Gallery</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>

      <!-- Social Media Section -->
      <div class="col-lg-3 ">
        <h5>Follow Us</h5>
        <ul class="list-unstyled">
          <li><a href="#"><img src="{% static 'img/facebook.svg' %}" width="20px" alt=""> Facebook</a></li>
          <li><a href="#"><img src="{% static 'img/instagram.svg' %}" width="20px" alt=""> Instagram</a></li>
          <li><a href="#"><img src="{% static 'img/twitter-x.svg' %}" width="20px" alt=""> Twitter</a></li>
        </ul>
      </div>

      <!-- Address Section -->
      <div class="col-lg-3 col-md-6 mb-4">
        <h5>Address</h5>
        <p>Rajajinagar, Bengaluru, Karnataka 560010</p>
        <p><i class="fa-solid fa-phone"></i> +91 1234567890</p>
        <p><i class="fa-solid fa-envelope"></i> mail@1234567.com</p>
      </div>

    </div>

    <!-- Footer bottom -->
    <div class="row mt-4">
      <div class="col text-center">
        <p class="mb-0"><i class="fa-solid fa-copyright"></i> 2024 pykart.com - All Rights Reserved.</p>
      </div>
    </div>

  </div>
</footer>
<!-- footer section end -->

<style>
  footer ul {
    padding-left: 0;
    list-style: none;
  }
  #footer {
    background-color: #172337;
     width: 100%;
      padding: 40px 0; 
      color: white; 
      height: 300px;
  }
  footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    display: block;
    padding: 4px 0;
    transition: color 0.3s ease;
  }

  footer ul li a:hover {
    color: #007bff;
  }

  footer h5 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  footer p, footer ul li a {
    color: #bbb;
  }

  footer p {
    margin: 0;
    font-size: 0.9rem;
  }

  @media (max-width: 600px) {
    footer  {
      text-align: center;
    }
    #footer {
      height : 750px;
      width:auto;
    }
    .col-lg-3 li {
    display: flex;
    justify-content: center;
  }}
 @media (max-width: 576px) {
    footer .col-lg-3 {
      margin-bottom: 20px;
    }
    footer h5 {
      font-size: 1rem;
    }
 footer p, footer ul li a {
      font-size: 0.8rem;
    }
  } 
</style>
