{% extends 'base.html' %}
{% block title %}Pykart | Home{% endblock %}
{% block body %} 
<div class="slide mt-5 " style="width: 93%;" >
    {% include 'partials/slide.html' %}
</div>

<div class="row  mt-5 mb-5  bg-white pd" >
    <div class="row ms-1">
    {% for item in products %}

        <div class="col-auto me-0 mb-4 "   >
            <div class="card" style="width: 15.2rem;" >
                <img src="{{item.image1.url}}" class="card-img-top" style="width:15.1rem;height:18rem;" alt="...">
                <div class="card-body " style="font-size: -10px;">
                    <a href="{% url 'product' item.slug %}" style="text-decoration: none;color: black;">
                    <p>{{item.product.brand}}</p>
                  <p class="card-title">{{item.product}}</p>
                  <p class="card-text"><span style="font-weight: 500;">&#x20b9;{{item.sale_price}}</span> <strike>&#x20b9; {{item.original_price}}</strike></p>
                </a>
                </div>
              </div>
        </div>
    {% endfor %}
</div>
</div>
<style>
  .slide{
    margin-left: auto;
    margin-right: auto;
  }
  .pd {
    width: 93%;
    margin-left: auto;
    padding: 20px;
    margin-right: auto;
  }
  @media (min-width: 768px) {
    .slide {
        margin-left: auto;
        margin-right: auto;
    }
  }
</style>

{% endblock %}

{% block footer %}
    {% include 'partials/footer.html' %}
{% endblock %}